.nfs*
*_wrap.c
*_wrap.cxx
*.o
*.so
*.pyc
*~
*.*sw*
*.orig
*.rej
*.log
*.gz
build/*

# Automatically created blender scenes
*.blend1
*.blend2
*.blend3
scene.*.blend

# Eclipse project files
.project
.pydevproject
.settings
.metadata

# Pycharm project files
.idea/*

